/*main page header*/
body header.main-header {
  display: flex;
  height: 400px;
  background-color: rgba(179, 161, 199, 1);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  justify-content: center;
  align-items: flex-end;
  padding-top: 5em;
  width: 100%;
  margin-top: 90px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}